{
    "preheat_options": {
        "PLA":  {
            "tool": 195,
            "bed":  40
        },
        "ABS":{
            "tool": 220,
            "bed": 90
        }
    },
    "mainmenu": [
        {
            "name": "Homing",
            "icon": "home",
            "panel": "menu",
            "items": [
                {
                    "name": "Home All",
                    "icon": "home",
                    "method": "printer.gcode.script",
                    "params": {"script": "G28"}
                },
                {
                    "name": "Home X",
                    "icon": "home-x",
                    "method": "printer.gcode.script",
                    "params": {"script": "G28 X"}
                },
                {
                    "name": "Home Y",
                    "icon": "home-y",
                    "method": "printer.gcode.script",
                    "params": {"script": "G28 Y"}
                },
                {
                    "name": "Home Z",
                    "icon": "home-z",
                    "method": "printer.gcode.script",
                    "params": {"script": "G28 Z"}
                },
                    "name": "Home XY",
                    "icon": "home",
                    "method": "printer.gcode.script",
                    "params": {"script": "G28 X Y"}
                }
            ]
        },
        {
            "name": "Preheat",
            "icon": "heat-up",
            "panel": "preheat"
        },
        {
            "name": "Actions" ,
            "icon": "actions",
            "panel": "menu",
            "items": [
                {
                    "name": "Move",
                    "icon": "move",
                    "panel": "move"
                },
                {
                    "name": "Extrude",
                    "icon": "filament",
                    "panel": "extrude"
                },
                {
                    "name": "Fan",
                    "icon": "fan",
                    "panel": "fan"
                },
                {
                    "name": "Temperature",
                    "icon": "heat-up",
                    "panel": "temperature"
                },
                {
                    "name": "Disable Motors",
                    "icon": "motor-off",
                    "method": "printer.gcode.script",
                    "params": {"script": "M18"},
                    "command": {
                        "method": "printer.gcode.script",
                        "params": {"script": "M18"}
                    }
                }
            ]
        },
        {
            "name": "Configuration",
            "icon": "control",
            "panel": "menu",
            "items": [
                {
                    "name": "Bed Level",
                    "icon": "bed-level",
                    "panel": "bed_level"
                },
                {
                    "name": "ZOffsets",
                    "icon": "z-offset-increase",
                    "panel": "zcalibrate"
                },
                {
                    "name": "Network",
                    "icon": "network",
                    "panel": "network"
                },
                {
                    "name": "System",
                    "icon": "info",
                    "panel": "system"
                }
            ]
        },
        {
            "name": "Print",
            "icon": "print",
            "panel": "print"
        }
    ],
    "printmenu": [
        {
            "name": "Temperature",
            "icon": "heat-up",
            "panel": "temperature"
        },
        {
            "name": "Tuning",
            "icon": "fan",
            "panel": "finetune"
        },
        {
            "name": "Network",
            "icon": "network",
            "panel": "network"
        },
        {
            "name": "System",
            "icon": "info",
            "panel": "system"
        },
        {
            "name": "Extrude",
            "icon": "filament",
            "panel": "extrude"
        }
    ]

}
