[
  {
    "name": "Home",
    "icon": "home",
    "panel": "menu",
    "items": [
      {
        "name": "Home All",
        "icon": "home",
        "method": "post_printer_gcode",
        "params": {"script": "G28"}
      },
      {
        "name": "Home X",
        "icon": "home-x",
        "method": "post_printer_gcode",
        "params": {"script": "G28 X"}
      },
      {
        "name": "Home Y",
        "icon": "home-y",
        "method": "post_printer_gcode",
        "params": {"script": "G28 Y"}
      },
      {
        "name": "Home Z",
        "icon": "home-z",
        "method": "post_printer_gcode",
        "params": {"script": "G28 Z"}
      }
    ]
  },
  {
    "name": "Actions" ,
    "icon": "actions",
    "panel": "menu",
		"items": [
			{
				"name": "Move",
				"icon": "move",
				"panel": "move"
			},
			{
				"name": "Extrude",
				"icon": "filament",
				"panel": "extrude_multitool"
			},
			{
				"name": "Fan",
				"icon": "fan",
				"panel": "fan"
			},
			{
				"name": "Temperature",
				"icon": "heat-up",
				"panel": "temperature"
			},
			{
				"name": "Control",
				"icon": "control",
				"panel": "control"
			},
			{
				"name": "ToolChanger",
				"icon": "toolchanger",
				"panel": "toolchanger"
			}
		]
  },
  {
    "name": "Filament",
    "icon": "filament"
  },
  {
    "name": "Configuration",
    "icon": "control",
    "panel": "menu",
		"items": [
			{
				"name": "Bed Level",
				"icon": "bed-level",
				"panel": "bed-level"
			},
			{
				"name": "ZOffsets",
				"icon": "z-offset-increase",
				"panel": "nozzle-calibration"
			},
			{
				"name": "Network",
				"icon": "network",
				"panel": "network"
			},
			{
				"name": "System",
				"icon": "info",
				"panel": "system"
			}
		]
  },
  {
    "name": "Print",
    "icon": "print"
  }

]
