[
  {
    "name": "Home",
    "icon": "home",
    "items": [
      {
        "name": "Home All",
        "icon": "home",
        "method": "post_printer_gcode",
        "params": {"script": "G28"}
      },
      {
        "name": "Home X",
        "icon": "home-x",
        "method": "post_printer_gcode",
        "params": {"script": "G28 X"}
      },
      {
        "name": "Home Y",
        "icon": "home-y",
        "method": "post_printer_gcode",
        "params": {"script": "G28 Y"}
      },
      {
        "name": "Home Z",
        "icon": "home-z",
        "method": "post_printer_gcode",
        "params": {"script": "G28 Z"}
      }
    ]
  },
  {
    "name": "Filament" ,
    "icon": "filament"
  },
  {
    "name": "Move",
    "icon": "move"
  },
  {
    "name": "Menu",
    "icon": "actions"
  },
  {
    "name": "Control",
    "icon": "control"
  }

]
