/* * {

} */

window {
	background-color: #13181C;
	-gtk-icon-shadow: none;
	font-size: 20px;
}

scrollbar, scrollbar button, scrollbar trough {
	border: none;
	background-color: #13181C;
}

scrollbar slider {
	min-width: 60px;
	border-radius: 15px;
	background-color: #404E57;
}

frame {
    color: #fff;
    border-bottom: 1px solid #444;
}

.text {
    color: #fff;
}

progress, trough {
	min-height: 40px;
	/*font-size: 50px;*/
    background-color: #404E57;
    color: #fff;
    border: #000 1px solid;
}

progress {
	background-color: #d47b00;
	font-size: 50px;
	font-weight: lighter;
}

.printing-progress-bar {
	font-size: 25px;
	color: #00C9B4;
}

.printing-progress-text {
	font-size: 25px;
	color: #fff;
}

.printing-state {
	opacity: 0.5;
}

button {
	background-image: none;
	background-color: #13181C;
	margin: 5px;
	margin-bottom: 10px;
	border-radius: 0;
    border: 0px solid #000;
    color: #fff;
	-gtk-icon-shadow: none;
}

button:active {
	background-color: #304C62;
}

.button_active {
  background-color: #20303D;
}

button.color1 {
	border-bottom: 8px solid #ED6500;
}

button.color2 {
	border-bottom: 8px solid #B10080;
}

button.color3 {
	border-bottom: 8px solid #009384;
}

button.color4 {
	border-bottom: 8px solid #A7E100;
}

button.active {
	background-color: #20303D;
}

button.file-list {
	margin: 0px;
}

.distbutton_top {
  border: 3px solid #fff;
  border-right: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-right: 0px;
}

.distbutton {
  border: 3px solid #fff;
  border-left: 3px solid #ccc;
  border-right: 0px;
  margin-left: 0;
  margin-right: 0px;
}

.distbutton_bottom {
  border: 3px solid #fff;
  border-left: 3px solid #ccc;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: 0;
}

.tempbutton_top {
  border: 3px solid #fff;
  border-bottom: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 0px;
}

.tempbutton {
  border: 3px solid #fff;
  border-top: 3px solid #ccc;
  border-bottom: 0px;
  margin-top: 0;
  margin-bottom: 0px;
}

.tempbutton_bottom {
  border: 3px solid #fff;
  border-top: 3px solid #ccc;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 0;
}

.distbutton_active {
  background-color: #20303D;
}

entry {
	font-size: 30px;
	background-color: #20292F;
	border-radius: 0;
	padding-left: 1em;
	margin-left: 1em;
	padding-right: 1em;
}

button.keyboard {
	font-size: 30px;
	margin: 0px;
	/* margin-bottom:10px; */
}

.dialog {
	border: 2px solid black;
	font-size: 20px;
	padding: 50px;
	background-color: #000;
    margin: 20px;
}

.dialog button {
	padding: 30px 50px 30px 50px;
	border-bottom: 8px solid #009384;
}

.message {
	border: 2px solid #981E1F;
	font-size: 20px;
	padding: 50px;
	color: #FFF;
	background-color: #981E1F;
}

.message button {
	background-color: #FFF;
	color: #000;
	padding: 40px 50px 40px 50px;
}

.notification {
	background-clip: padding-box;
	padding: 5px;
	border-radius: 0 0 5px 5px;
	opacity: 0.8;
}

.warning {
	background-color: rgba(30, 204, 39, 0.7);
}

.error {
	background-color: rgba(204, 30, 30, 0.7);
}

.printing-status-label {
	padding-top: 5px;
	padding-bottom: 3px;
    color: #ccc;
	font-size: 24px;
}

.hidden {
    opacity: 0;
}


.temperature_entry {
  border: 0px;
  color: #fff;
  margin: 10px 5px 5px 5px;
}

.numpad_tleft {
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  border-top-left-radius: 15px;
  margin: 3px 0 0 3px;
}

.numpad_top {
  border-left: 3px solid #ccc;
  border-top: 3px solid #fff;
  margin: 3px 0 0 0;
}

.numpad_tright {
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
  border-top-right-radius: 15px;
  margin: 3px 3px 0 0;
}

.numpad_left {
  border-left: 3px solid #fff;
  border-top: 3px solid #ccc;
  margin: 0 0 0 3px;
}

.numpad_button {
  border-left: 3px solid #ccc;
  border-top: 3px solid #ccc;
  margin: 0;
}

.numpad_right {
  border-right: 3px solid #fff;
  border-left: 3px solid #ccc;
  border-top: 3px solid #ccc;
  margin: 0 3px 0 0;
}

.numpad_bleft {
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  border-top: 3px solid #ccc;
  border-bottom-left-radius: 15px;
  margin: 0 0 3px 3px;
}

.numpad_bottom {
  border-left: 3px solid #ccc;
  border-bottom: 3px solid #fff;
  border-top: 3px solid #ccc;
  margin: 0 0 3px 0;
}

.numpad_bright {
  border-left: 3px solid #ccc;
  border-bottom: 3px solid #fff;
  border-top: 3px solid #ccc;
  border-right: 3px solid #ccc;
  border-bottom-right-radius: 15px;
  margin: 0 3px 3px 0;
}

.fan_slider {
  margin: 20px;
  color: #fff;
}

scale mark {
  margin-top: 20px;
  color: #fff;
}
