# Default keyboard navigation (mimics legacy KlipperScreen behavior)
#
# This file provides the same Escape/Backspace behavior that was previously
# hardcoded in KlipperScreen. Include this if you want those keys to work
# without defining custom keybindings.
#
# To use, add to your KlipperScreen.conf:
#   [include /path/to/KlipperScreen/keybindings/default_navigation.cfg]
#
# If you want custom keyboard shortcuts instead, use basic_navigation.cfg
# or create your own keybinding configuration.

[keybinding default_escape]
key = Escape
action = exec_function
function = go_back_home

[keybinding default_backspace]
key = BackSpace
action = exec_function
function = go_back

[panel __global]
keybindings = default_escape,default_backspace
