# Standard US ASCII keyboard keygroups
# GTK key names use PascalCase/Mixed_Case (Return, Escape, BackSpace, Shift_L)
# Custom keygroups MUST use snake_case (lowercase with underscores)
#
# This file can be included in your KlipperScreen.conf:
#   [include /path/to/KlipperScreen/keybindings/keygroups_us_ascii.cfg]

[keygroup lower_case]
keys = a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z

[keygroup upper_case]
keys = A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z

[keygroup num_keys]
keys = 0,1,2,3,4,5,6,7,8,9

[keygroup letter_keys]
keys = lower_case,upper_case

[keygroup alpha_numeric]
keys = letter_keys,num_keys

[keygroup ascii_symbols]
keys = minus,equal,bracketleft,bracketright,semicolon,apostrophe,comma,period,slash,backslash,space,colon

[keygroup special_symbols]
keys = minus,colon,slash,underscore,space

[keygroup modifier_keys]
keys = Shift_L,Shift_R,Control_L,Control_R,Alt_L,Alt_R,Super_L,Super_R

[keygroup function_keys]
keys = F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12

[keygroup nav_keys]
keys = Left,Right,Up,Down,Home,End,Page_Up,Page_Down

[keygroup edit_keys]
keys = BackSpace,Delete,Insert,Tab,Return,Escape
