/* Material-darker theme created by Alfredo Monclus 2021 */

* {
    color: #e2e2e2;
}

window {
    background-color: #121212;
    background-image: url("./styles/material-dark/background.svg");
    background-size: cover;
}

button {
    background-color: rgba(0,0,0,0);
}

button:active {
    background-color: rgba(0,0,0,0.5);
}

.button_active {
    border-color: rgba(0,0,0,0.0);
    border-style: solid;
    border-width: .25em;
    background-color: rgba(0,0,0,0.5);
    border-radius: 1em;
}

button.color1, button.color2, button.color3, button.color4 {
    background-color: rgba(0,0,0,0.75);
    border-color: rgba(0,0,0,0);
    border-radius: 1em;
}

button.color1:active, button.color2:active, button.color3:active, button.color4:active, button.update:active, button.invalid:active, .dialog button:active {
    border-style: none;
}

button.active {
    background-color: #E65100;
}

button.update {
    background-color: #2f5631;
    border-color: #2f5631;
    border-radius: 1em;
}

button.invalid {
    background-color: #ff5252;
    border-color: #ff5252;
    border-radius: 1em;
}

combobox box button {
    background-color: #1e1e1e;
    border-color: #303030;
}

switch {
    background-color: #1e1e1e;
}

switch:checked {
    background-color: #2f5631;
}

entry {
    background-color: #1e1e1e;
    border-color: #303030;
}

frame {
    color: #e2e2e2;
    border-bottom-color: rgba(0,0,0,0.5);;
}

label {
    color: #e2e2e2;
}

menu {
    background-color: #121212;
    border-color: #a2a2a2;
}

menuitem {
    background-color: #121212;
    border-color: #a2a2a2;
}

trough {
    background-color: #1e1e1e;
    color: #e2e2e2;
}

trough highlight, trough progress {
    background-color: #B71C1C;
    color: #e2e2e2;
}

scale-mark {
    color: #e2e2e2;
}

scrollbar, scrollbar button, scrollbar trough {
    background-color: rgba(0,0,0,0);
}

scrollbar slider {
    background-color: #2f2f2f;
}

textview .time {
    color: #9E9E9E;
}

.popup {
    background-color: #006064;
}

.dialog {
    border: #121212;
    background-color: #121212;
}

.dialog button {
    background-color: #1e1e1e;
    border-bottom-color: #1e1e1e;
    border-radius: .75em;
}

.tempbutton_top, .tempbutton, .tempbutton_bottom, .distbutton_top, .distbutton, .distbutton_bottom  {
    border-color: #1e1e1e;
    background-color: rgba(0,0,0,0.75);
}

.distbutton_active {
    background-color: rgba(128,128,128,0.5);
}

.fan_slider {
    color: #e2e2e2;
}

.message_popup {
    border-bottom-color: #e2e2e2;
}

.message_popup_echo, .message_popup_echo button {
    background-color: #006412;
}

.message_popup_error, .message_popup_error button {
    background-color: #B71C1C;
}

.numpad_tleft, .numpad_top, .numpad_tright, .numpad_left, .numpad_button, .numpad_right, .numpad_bleft, .numpad_bottom, .numpad_bright {
    border-color: #383838;
    background-color: #252525;
}

.printing-status {
    color: #e2e2e2;
}

.printing-progress-bar {
    color: #006064;
}

.printing-progress-text {
    color: #e2e2e2;
}

.printing-status-label {
    color: #9E9E9E;
}

.message {
    border-color: #B71C1C;
    color: #e2e2e2;
    background-color: #B71C1C;
}

.message button {
    background-color: #e2e2e2;
    color: #121212;
}

.warning {
    background-color: #f9b274;
}

.error {
    background-color: #CF6679;
}
