/**********************************
 *  Lulzbot KlipperScreen Theme   *
 *  By Carl Smith  2024 - FAME3D  *
 *********************************/


/* This sets the Lulzbot background Logo */
window {background-image: url("/home/biqu/KlipperScreen/styles/lulzbot/Darker_Rocto_800_480.png");}


/* This sets the buttons to be partly transparent so you can see the background image, 
   and rounds the border corners for buttons that have borders. */
button {background-color: rgba(0,0,0,.45); border-radius:1em; border-style:none;} 


/* This sets the background color of the button to LulzBot green while you are pressing it */
button:active,
.button_active,
button.active {
    background-color: #c1d82f;
}


/* This sets the off and on colors for switches. */
switch {background-color: #383f0e;}
treeview.view check:checked,
switch:checked {
    background-color: #9db026;
}


/* This sets the main icons all to green border, sets margins around the borders so they don't touch */
button.color1,
button.color2,
button.color3,
button.color4 {
    margin: .2em;
    min-height: 0em;
    border: .1em solid #c1d82f; 
}


/* This sets the color of the scroll bar slider button. */
scrollbar slider {background-color: #383f0e;}


/* This changes the color in the sliders for things like fan speed. */
trough highlight, trough progress {
    background-color: #9db026;
    color: white;
    border-color: black;
}

/* This changes the visiblity of the busy spinner for operations that take time.
   The default is too dim and is almost invisible. */
button:disabled {
    opacity: 1;
}


.distbutton_active {
    background-color: @active;
    font-weight: 600;
}

.distbutton_top,
.distbutton,
.distbutton_bottom {
    border: .1em solid #c1d82f;
    margin-left: .2em;
    margin-right: .2em;
    min-height: 1em;
    border-top-right-radius: .7em;
    border-bottom-right-radius: .7em;
    border-top-left-radius: .7em;
    border-bottom-left-radius: .7em;
}


.buttons_main_top {
    margin: .2em;
    min-height: 0em;
    border: .1em solid #c1d82f; 
}
.buttons_main_top label {
    font-size: 26;
    margin-bottom: .1em;
    margin-top: .1em;
    margin-left: .1em;
    margin-right: .1em;
}

.main_temp_on {background-color: rgba(193, 216, 47, .5);}
.main_temp_on label {color: white;}

.main_temp_off {background-color: rgba(0,0,0,.45);}
.main_temp_off label {color: white;}

.button_print {
    border: .1em solid #c1d82f; 
    background-color: rgba(54, 60, 13, .9);
}
.button_print label {
    font-size: 26;
}

.button_change {
    border: .1em solid #c1d82f; 
}
.button_change label {
    font-size: 26;
}

.buttons_main_left {
    min-height: 0em;
    border: .1em solid #c1d82f; 
}
.buttons_main_left label {
    font-size: 26;
}
