jinja2==3.1.2
netifaces==0.11.0
requests==2.31.0
six==1.16.0
dbus-python==1.3.2

# libmpv-dev 0.33 is required for 1.0
python-mpv==0.5.2;python_version<"3.10"
python-mpv==1.0.4;python_version>="3.10"

backports.zoneinfo;python_version<"3.9"

# Python 3.7 (For Buster until June 2024)
PyGObject==3.44.1; python_version == '3.7'
pycairo==1.23.0; python_version == '3.7'
websocket-client==1.6.1; python_version == '3.7'

PyGObject==3.46.0;python_version>="3.8"
pycairo==1.25.1;python_version>="3.8"
websocket-client==1.6.4;python_version>="3.8"
