[Unit]
Description=KlipperScreen
After=moonraker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=KS_DIR
ExecStart=/usr/bin/xinit KS_ENV/bin/python KS_DIR/screen.py
ExecStartPost=KS_DIR/scripts/disablescreenblank.sh

[Install]
WantedBy=multi-user.target
