[Unit]
Description=KlipperScreen
After=moonraker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=KS_USER
WorkingDirectory=KS_DIR
Environment="KS_XCLIENT=KS_ENV/bin/python KS_DIR/screen.py"
ExecStart="KS_DIR/scripts/KlipperScreen-start.sh"

[Install]
WantedBy=multi-user.target
