jinja2==3.1.4;python_version>="3.6"
requests==2.32.3;python_version>="3.8"
sdbus==0.11.1;python_version>="3.8"
sdbus_networkmanager==2.0.0;python_version>="3.8"

# libmpv-dev 0.33 is required for 1.0
python-mpv==0.5.2;python_version<"3.10"
python-mpv==1.0.7;python_version>="3.10"

backports.zoneinfo;python_version<"3.9"

PyGObject==3.48.1;python_version>="3.8"
pycairo==1.27.0;python_version>="3.8"
websocket-client==1.8.0;python_version>="3.8"
